<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="16x16 32x32 48x48">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/icon-32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/icons/icon-192.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/icon-180.png' | relative_url }}">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#fdfdfd">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#181818">
